.newsfeed {
  padding: 40px 0;
}
.postTitle {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 25px;
}
.postContainer {
  width: 100%;
}
.avatar {
  width: 65px;
  height: 65px;
  max-width: 100%;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 50%;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.flexable {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.post {
  border-radius: 6px;
  padding: 20px 20px;
  background: #fff;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  width: calc(100% - 90px);
}
.createPost textarea {
  width: 100%;
  padding: 5px 10px;
  border: none;
  /* min-height: 30vh; */
  outline: none;
  resize: none;
}
.postAction {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 10px;
}
.postCol {
  width: calc(100% - 440px);
}
.newsfeedFlex {
  display: flex;
  justify-content: space-between;
}
.followCol {
  width: 400px;
}
.postsRows {
  padding: 60px 0 40px 90px;
}
.postRow {
  padding: 22px;
  padding-bottom: 14px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 2px 11px #5c5c5c14;
  margin-bottom: 15px;
  position: relative;
}
.postUser {
  display: flex;
  align-items: center;
}
.userImg {
  width: 55px;
  height: 55px;
  border: 1px solid #ddd;
  border-radius: 50%;
  margin-right: 13px;
  object-fit: cover;
}
.postName {
  font-weight: 600;
  word-break: break-all;
  text-transform: capitalize;
}
.postDate {
  font-size: 15px;
  font-weight: 400;
  color: #777;
}
.postDesc {
  word-break: break-all;
  margin-top: 13px;
}
.media {
  max-width: 100%;
}
.postMedia {
  margin-top: 15px;
}
.postMedia video {
  max-width: 100%;
}
.postVideo,
.postImg {
  margin: 15px -22px;
}
.userPostImg {
  width: 100%;
  max-width: 100%;
  max-height: 400px;
  object-fit: cover;
}
.writeComment {
  display: flex;
}
.rcAvatar .avatar {
  width: 40px;
  height: 40px;
}
.comments {
  padding-top: 5px;
  margin-top: 5px;
  border-top: 1px solid #eee;
}
.rcAction {
  width: 100%;
  padding: 3px 10px;
}
.rcInput {
  width: 100%;
  padding: 8px;
  border: none;
  resize: none;
  font-size: 15px;
}
.rcInput:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
.rcAction {
  display: flex;
}
.rcActionBtn {
  margin-left: 15px;
}
.rcActionBtn button {
  border-radius: 50px;
  background: none !important;
  color: #0d6efd;
  font-weight: 500;
  border: none;
}
.rcActionBtn button:hover,
.rcActionBtn button:active {
  background: none !important;
  color: #0d6efd !important;
  border: none !important;
  opacity: 0.7;
}
.rcActionBtn button:active {
  opacity: 0.5;
}
.rcAction {
  border: 1px solid #eee;
  border-radius: 50px;
  overflow: hidden;
}
.fetchComments {
  padding-top: 15px;
  margin-left: 51px;
}
.crImg {
  width: 33px;
  height: 33px;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 15px;
}
.commentRow {
  display: flex;
  margin-bottom: 15px;
}
.commentRow:last-of-type {
  margin: 0;
}
.crText {
  width: 100%;
  background: #e7e7e791;
  padding: 10px 15px;
  border-radius: 12px;
}
.commenterName {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 15px;
  /* text-decoration: underline; */
}
.spinnerPosts {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}
.addCommentAction:focus,
.addCommentAction:active {
  background: none !important;
  background-color: none !important;
}
.postRow {
  transition: all 0.5s ease-in-out;
}
.commentToRead {
  position: relative;
}
.editComment input {
  width: 100%;
  border: 1px solid #999;
}
.editComment {
  width: 100%;
}
.postControl {
  position: absolute;
  right: 12px;
  top: 12px;
}
.editPost,
.editComment textarea {
  display: block;
  margin-top: 10px;
  width: 100%;
  border: 1px solid #ccc !important;
  padding: 10px;
}
.postAction button {
  margin-left: 10px;
}
.tracker {
  width: 70px;
  height: 70px;
  background: #f00;
  position: fixed;
  left: auto;
  right: auto;
  z-index: 100;
}
.imgPlaceholder {
  background: #f00;
  width: 100%;
}
.imgPlaceholder img {
  width: 100%;
}
.uploadFile {
  position: relative;
  border: 2px dashed #ddd;
  text-align: center;
  padding: 13px;
}
.uploadFile input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
}
.ufTitle {
  font-weight: 600;
  font-size: 18px;
  color: #666;
}
.ufTypes {
  color: #999;
  font-size: 15px;
}
.userControl button::after,
.postControl button::after {
  display: none !important;
  content: none !important;
  border: none !important;
}
.postEvents {
  margin: 7px -22px 0;
  padding: 6px 22px 2px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 12.52rem;
  gap: 10px;
  width: calc(100% + 44px);
  border-top: 1px solid #e9e9e9;
}
.postEvents button {
  width: 100%;
  color: #65676b;
  font-weight: 500;
  background: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background: #eeeeeeb8;
  padding: 7px;
  border-radius: 6px;
}
.eventIcon {
  margin-right: 5px;
}
.postEvents button:hover {
  background: #e1dede;
}
.postEvents button:active {
  transform: scale(0.9);
}
.commentDate {
  font-weight: 500;
  color: #666;
  font-size: 13px;
}
.postEvents button:disabled {
  background: #ddd;
  cursor: not-allowed;
}
.postEvents button:disabled:hover,
.postEvents button:disabled:active {
  transform: scale(1);
}
.eventsCounter {
  margin-top: 8px;
}
.likeCounter {
  color: #999;
  font-size: 17px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.likeCountIcon {
  width: 24px;
  margin-right: 7px;
}
.liked {
  background: #0d6efd !important;
  color: #fff !important;
}
.peopleUrl {
  color: #0d6efd !important;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  display: inline-block;
  margin-top: 10px;
}
.peopleUrl:hover {
  text-decoration: none;
}
.peopleUrl:active {
  opacity: 0.7;
}
.unfollowBtn {
  font-weight: 500;
  padding: 0;
  border: none;
  background: #f00;
  color: #fff !important;
  text-decoration: none;
  font-size: 13px;
  padding: 2px 7px;
}
.unfollowBtn:hover {
  background: #cc0303 !important;
  opacity: 0.7;
}
.unfollowBtn:active {
  opacity: 0.4;
}
