body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.lazy-load-image-loaded {
  width: 100%;
}
.dropdown-toggle:not(.navbar .dropdown-menu::after)::after {
  content: none !important;
}
.dropdown-menu {
  left: auto !important;
  right: 0 !important;
}
.navbar.navbar-expand-lg {
  background-color: #3498db !important;
}
